.slide-enter{
    opacity: 0;
}
.slide-enter-active{
    opacity: .5;
    transition: opacity 300ms;
}
.slide-enter-done{
    opacity: 1;
}
.slide-exit{
    opacity: 1;
}
.slide-exit-active{
    opacity: .5;
    transition: opacity 300ms;
}
.slide-exit-done{
    opacity: 0;
}

.slide-up {
    opacity: 0;
    height: 0;
    transition-property: all;
    transition-duration: 300ms;
}

.slide-down {
    opacity: 1;
    height: 177px;
    transition-property: all;
    transition-duration: 300ms;
}

/* .fade-appear,
.fade-enter{
    opacity: 0;
    z-index: 1,
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms liner 150ms;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 150ms linear;
} */