@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --tw-text-opacity: 1;
    background-color: #1E293B;
}

nav {
    @apply fixed w-full z-50 transition duration-300;
}

.blur-background {
    @apply backdrop-blur-md;
}

.ant-modal-content {
    background-color: rgb(30, 41, 59);
    font-family: 'Poppins';
}

.ant-btn-primary {
    background-color: #1677ff !important;
}

.ant-btn-primary:hover {
    background-color: #2a72d6 !important;
}
